<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="restconfig" type="System.Configuration.NameValueSectionHandler"/>
    <!--****************************************************************************
        IMPORTANT!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        You must change the section types on Mono to:
        <section name="unixconfig" type="System.Configuration.NameValueSectionHandler,System"/>
        <section name="windowsconfig" type="System.Configuration.NameValueSectionHandler,System"/>
        VisualStudion does not recognize this as a valid entry and Mono (at least on Linux) does
        not recognize without the ,System in it.
        -->
    
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <!-- There is another, duplicated section below for non-windows configurations due to platform differences
       in fetching the NameValueSectionHandler. Hopefully this will be resolved in .netcore release but 
       so far is required for Mono
  -->
  <restconfig>
    <!-- If set to true, windows form(s) with textboxes will show for each thread so 
         each thread is logging (on the screen) to its own output-->
    <!-- This does not work with Mono, not sure about .netcore yet so leave to false if not Windows.Net -->
    <add key="useformlogging" value="false"/>
    <!-- When running, each exported/viewed file will be opened in the native application.
         This is not recommended for large amounts of document/threads-->
    <add key="openeachfile" value="false"/>
    <!-- Will open a window (explorer) to show the downloaded/viewed files directory-->
    <add key="showdownloadedfiles" value="false"/>
    <!-- NOTE: For all the directory locations below, you can specify an absolute
         path like C:\Dir1\dir2  or relative testfiles in the case of specifying a 
         relative path like "testfiles", it will expect testfiles to exist in the
         same location as the executable -->
    <!-- The directory to be used to gain random sampling of files from-->
    <add key="randomfilesdirectory" value="C:\SamplesToImport"/>
    <add key="randomemailsdirectory" value="C:\SamplesToImport"/>
    <!-- The base directory for all test output, if see note above about absolute
         vs. relative paths -->
    <add key="testbasedirectory" value="Results"/>
    <add key="defaultRestHomeUri" value="http://localhost:8080/dctm-rest/services"/>
   <!-- If you want performance data logged to the console or not. -->
    <add key="performancedatatoconsole" value="false"/>
    <add key="defaultUsername" value="dmadmin"/>
    <add key="defaultPassword" value="password"/>
    <add key="defaultRepositoryName" value="REPO"/>
    <add key="defaultPrintResult" value="true"/>
    <add key="LogThreshold" value="DEBUG"/>
    <!-- If set to true, will skip the initial prompts for user, password, repositoryName, Url, etc
         and use what are set as the defaults in this file. You can still issue the reconfig command
         and reset the information if you need to
     -->
    <add key="useDefaults" value="true"/>
  </restconfig>
</configuration>
